1RB 2LA ---  1LB 0RA 1LA 
1RB 1RB ---  2LA 0LA 1LB 
1RB 1LB 0LB  1LA 2RB 1RZ 
1RB 0RA 0LB  2LA --- 1RA 
1RB 0RB ---  1LB 2RA 1RA 
1RB 2LB 2LA  1LA 1RA --- 
1RB 1LA ---  2LA 0LB 1RA 
1RB 1RA ---  1LB 2RB 0RA 
1RB 0RA 2RB  2LA --- 1RB 
1RB 2RB ---  2LA --- 0RA 
1RB --- ---  1LB 1RZ --- 
1RB 0LA ---  1LB 2RB 0RA 
1RB 2LA 0LA  2LB 1RA 1RZ 
1RB 2RB 0RA  1LA 2RB --- 
1RB 1RA 1LB  2LA 2LA 1RZ 
1RB 1RZ ---  0LB 2LA 2LA 
1RB 1RA 0RB  2LA --- 2RA 
1RB 1RA 1LB  2LA 2RA --- 
1RB --- 0LB  2LB 2RA 1RB 
1RB 2LB ---  2LA 2RA 0LB 
1RB --- 0LA  2LB 0RA --- 
1RB 2RB ---  1LA 0RA --- 
1RB 2RB 1LB  2LB 1LA --- 
1RB 2LB 1RZ  1LB 2RA 2RA 
1RB 2LA ---  2LB 1LA 0LB 
1RB 1RB ---  2LA 0RB 1LA 
1RB 0RB ---  1LB 1RA --- 
1RB 2LB ---  2LA 0LB 0LB 
1RB 1RZ ---  2LB 1LA --- 
1RB 0LB ---  0LB 2LA 1LA 
1RB 1LA ---  2LA 2RB 2LB 
1RB 0LB ---  2LA --- 1LA 
1RB --- ---  0LB 2RB 0LB 
1RB 2LA ---  0LA --- 2LA 
1RB 2LA 0LB  1LB 2RA --- 
1RB 2RB 1RZ  0LB 2LA 2LA 
1RB 2LA 2RA  1LA --- 2RA 
1RB 2RB 1RB  2LA --- 0LA 
1RB 2LA 1RA  2LA --- 2RA 
1RB 2RB 2LB  2LA --- 2RB 
1RB 1RB ---  2LA 1RA 1LB 
1RB 0RB ---  2LA --- 0RA 
1RB 0RB 1RZ  2LA --- 2RB 
1RB 0LA 0LA  2LB 1RA --- 
1RB 2RA 1RZ  0LB 2LA 1RB 
1RB 2LA 0LB  1LA 1RZ 1RA 
1RB 0LB ---  2LA 2LA 1LB 
1RB 1LB ---  1LB 2RA 0RA 
1RB 1LA 2LA  2LA 0RA 1RZ 
1RB 0RA 0RB  2LA 1RZ 1LB 
1RB 2LB 2RA  2LA --- 2RB 
1RB 1RB ---  1LA 2LA 0LB 
1RB 1LB ---  2LA 1RZ 2RB 
1RB 2RB 2LA  1LA 1LA 1RZ 
1RB 2LB ---  2LA 2LA 1RB 
1RB 1LA ---  2LA 2LB 1LB 
1RB 2LB ---  1LA 1RB 0LB 
1RB 0RA 1LB  2LA 1RZ 1LB 
1RB --- 0LB  1LB 2RB 2LA 
1RB 1RA 1LA  2LA --- --- 
1RB 2RB 1RA  2LA --- 2RB 
1RB --- 2LB  2LB 2RA 1LB 
1RB 2LB 1LB  2LB 1RA --- 
1RB 2RB ---  2LA 1RZ 1LB 
1RB 2LA ---  2LA 2LA 1LB 
1RB 1RA 0LB  2LA 0RB 1RZ 
1RB 2RB ---  2LA 1RA 0LB 
1RB 0LB ---  1LA 1RB --- 
1RB --- 0LB  2LB 2RA 1LB 
1RB --- 0LA  2LB 2RB 0LA 
1RB 2RB 1RZ  2LA 1RA 1LB 
1RB 0LB 2RA  1LA 2RB 1RZ 
1RB 2RA 0RB  2LA --- 2RA 
1RB 1LA ---  0LB 2LA 1RB 
1RB 2RB ---  1LA 0LB 1LB 
1RB 0LB ---  1LA 2LA --- 
1RB 2RB 2RA  1LB 1LA 1RZ 
1RB --- 2RB  2LB 0RA 1LB 
1RB 2RA 2LA  2LA 1RZ 0LB 
1RB 1LA 0RA  2LA 2RA --- 
1RB 2LA 2LB  2LA --- 2RA 
1RB 0RA 2LB  2LA --- 2RB 
1RB 2RB ---  1LB 2RA 2RA 
1RB 2LB 0RB  1LA 2RA 1RZ 
1RB 2LA ---  1LA 0LB 0RB 
1RB 1RB ---  2LA 2LB 1LB 
1RB 0RA 2LB  2LA --- 1RB 
1RB 2LB ---  1LA 2RB 2LB 
1RB 0LB ---  2LA --- 2RA 
1RB 1LB ---  2LA 1RB 1LB 
1RB --- ---  1LB 2LA 1LB 
1RB 2LB 0LA  2LB 1RA --- 
1RB 1LA 1LB  1LA 2RA --- 
1RB 1LB ---  1LA 2RA 2RB 
1RB 2RB ---  1LB 2RA 0RA 
1RB 2LB ---  2LA 2RB 1RB 
1RB 0RB ---  2LA 2LA 1LA 
1RB 1RA 0LB  2LA 0LB 1RZ 
1RB 2RB 1RZ  2LA 1LA 0LB 
1RB 0RA 2LB  2LA --- 0RB 
